/* 特殊字體引用 需要式 OpenType的 TTF檔案才可以用*/


.span_important{
    color: red;
    font-weight: bold;
    text-decoration:underline;
}
/* 清松手寫體2 */
@font-face {
    font-family:'JasonHandwriting2';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/JasonHandwriting2.ttf) format('opentype'),
    url(/takoiscute/public/font/JasonHandwriting2.ttf) format("opentype");
}
/* 沉魚落雁體 */
@font-face {
    font-family: 'ChenYuluoyan-Thin';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/ChenYuluoyan-Thin.ttf) format('opentype'),
    url(/takoiscute/public/font/ChenYuluoyan-Thin.ttf) format("opentype");
}
/* 貓啃什錦黑 */
@font-face {
    font-family: 'MaokenAssortedSans';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/MaokenAssortedSans-TC.TTF) format('opentype'),
    url(/takoiscute/public/font/MaokenAssortedSans-TC.TTF) format("opentype");
}
/* 圓體 */
@font-face {
    font-family: 'cjkFonts_allseto';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/cjkFonts_allseto_v1.11.ttf) format('opentype'),
    url(/takoiscute/public/font/cjkFonts_allseto_v1.11.ttf) format("opentype");
}