/* 特殊字體引用 需要式 OpenType的 TTF檔案才可以用*/
/* 沉魚落雁體 */
@font-face {
    font-family:'JasonHandwriting2'; /*這裡可以自己命名字體*/
    font-style: cursive; /*手寫體*/
    font-weight: 400;
    font-display: swap; /*優先載入*/
    src: url(/public/font/JasonHandwriting2.ttf) format('woff2'); /*字體的絕對路徑*/
}

@font-face {
    font-family: 'ChenYuluoyan-Thin';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/ChenYuluoyan-Thin.ttf) format('woff2');
}
/* 宅在家粉條甜 */
@font-face {
    font-family: 'cute_home';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/宅在家粉條甜.ttf) format('woff2');
}
/* 貓啃什錦黑 */
@font-face {
    font-family: 'MaokenAssortedSans';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/MaokenAssortedSans-TC.TTF) format('woff2');
}
/* 嘉市體 */
@font-face {
    font-family: 'ChiayiCity';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/ChiayiCity.ttf) format('woff2');
}
/* 金畫體 */
@font-face {
    font-family: 'Kinkakuji';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/Kinkakuji-Normal.ttf) format('woff2');
}
/* 圓體 */
@font-face {
    font-family: 'cjkFonts_allseto';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(/public/font/cjkFonts_allseto_v1.11.ttf) format('woff2');
}

.span_important{
    color: red;
    font-weight: bold;
    text-decoration:underline;
}